*{
  margin: 0;
  padding: 0;
}

.mainContainer{
  background-color: rgb(221, 237, 238);
  height: 41.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainContainer h2{
  color:rgb(8, 113, 173);
  text-shadow: 2rem;
  font-style: italic;
  font-size: xx-large;
  text-decoration: underline;
  margin: 30px;
}
.auth-container{
  background-color: rgb(127, 162, 183);
  display: flex;
padding: 1rem;
  height: 25rem;
  width: 30rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:1rem;
  border: 2px solid rgb(221, 235, 234);
  border-radius: 1rem;
}

.auth-container input{
  background-color: rgb(232, 227, 220);
  height: 4rem;
  width: 15rem;
   text-align: center;
   color: rgb(49, 49, 40);   
   border-radius: 0.3rem;
   border-color: rgb(232, 227, 220);
}

.auth-container button{
  background-color: rgb(108, 176, 118);
  height: 3.7rem;
  width: 6rem;
  font-weight: 900;
  color:white;
  border-radius: 0.8rem;
  border-color: darkgreen;
}
.auth-container button:hover{
  background-color: rgb(147, 195, 150);
}